@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #E2E8F0;
  border-radius: 10px;
}

.view-enter { 
  opacity: 0; 
  transform: translateY(10px); 
}

.view-enter-active { 
  opacity: 1; 
  transform: translateY(0); 
  transition: all 300ms ease-out; 
}
